body {
    font-family: Arial, sans-serif;

}

.titulo {
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
    color: #333;
}

.grafica {
    width: 90%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.table {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.table thead th {
    background-color: #f8f9fa;
    color: #495057;
}

.table td,
.table th {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: center;

}

.form-control,
.btn {
    border-radius: 0.375rem;
}

.form-control:focus,
.btn:focus {
    box-shadow: none;
}

